.form {
    fieldset {
        border: 1px solid #ccc;
        padding: 16px;
        border-radius: 8px;

        legend {
            width: unset;
            border: none;
            padding: 0 8px;
            margin: 0;
        }
    }

    
}
