.positionRoot {
    .delBtn {
        visibility: visible;
        opacity: 1;
    }

    .tempDel {
        display: flex;

        &.hidden {
            display: none;
        }
    }

    .temp {
        height: 30px;
    }
}
